    <%- include('layouts/header') %>

    <%- include('layouts/nav') %>
    <!-- Hero Section Begin -->

    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 offset-lg-4">
                    <h3 class="text text-success">Message sent successful...</h3>
                    <p>Thanks for getting in touch! </p>

                    <p>You contacted <%= data.name %> in the <%= data.department %> department. </p>

                    <p>We will reply to you at <%= data.email %> </p>
                </div>
            </div>
        </div>
    </div>

<%- include('layouts/footer') %>

</body>

</html>