<%- include('layouts/header') %>

<%- include('layouts/nav') %>


    <div class="row">
        <div class="col-md-10 offset-1 mb-4 mt-4">
        	<p><b>List of orders</b></p>
            <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">reference</th>
			      <th scope="col">amount</th>
			      <th scope="col">status</th>
			    </tr>
			  </thead>
			  <tbody>
			  <% for(var i = 0; i < orders.length; i++) { %>
			    <tr>
			      <th scope="row"><%= i + 1 %></th>
			      <td><%= orders[i].dataValues.reference %></td>
			      <td>₦<%= orders[i].dataValues.amount.toLocaleString() %></td>
			      <td class="text-info"><%= orders[i].dataValues.status == 0 ? 'Pending' : 'Shipped' %></td>
			    </tr>
			  <% } if ( orders.length == 0 ) { %>

			  	<tr>
			  		<td colspan="6">No order found. </td>
			  	</tr>

			 <% } %>
			  </tbody>
			</table>
        </div>
    </div>


<%- include('layouts/footer') %>
   </body>

</html>



