    <%- include('layouts/header') %>

    <%- include('layouts/nav') %>


    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Subcategories</h4>
                            <ul>
                                <%  var subcat = categories.dataValues.subcategory; 
                                    var sublist = subcat.split(',');
                                for  (let i = 0; i < sublist.length; i++){  %>
                                <li><a href="/product-list?subcategory=<%= sublist[i] %>&category=<%= categories.dataValues.name %>"><%= sublist[i] %></a></li>
                                <% } %>
                            </ul>
                        </div>

                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                      <% for (let i = 0; i < newProducts.length; i++) {

                                            var images = JSON.parse(newProducts[i].dataValues.images);
                                            var newImages = images[0]; 
                                       %>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="/assets/uploads/<%= newImages %>" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6><%= newProducts[i].dataValues.title %></h6>
                                                <span>₦<%= newProducts[i].dataValues.price.toLocaleString() %></span>
                                            </div>
                                        </a>
                                     <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                             <% for (let i = 5; i < product.length; i++) {
                                    var images = JSON.parse(product[i].dataValues.images);
                                    var newImages = images[0]; 
                              %>
                                <div class="col-lg-4">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="/assets/uploads/<%= newImages %>">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span><%= product[i].dataValues.brand %></span>
                                            <h5><a href="#"><%= product[i].dataValues.title %></a></h5>
                                            <div class="product__item__price">₦<%= product[i].dataValues.price.toLocaleString() %> <span>₦ 36.00</span></div>
                                        </div>
                                    </div>
                                </div>
                              <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <% for (let i = 0; i < product.length; i++) {
                                var images = JSON.parse(product[i].dataValues.images);
                                var newImages = images[0]; 
                        %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="/assets/uploads/<%= newImages %>">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#"><%= product[i].dataValues.title %></a></h6>
                                    <h5>₦<%= product[i].dataValues.price.toLocaleString() %></h5>
                                </div>
                            </div>
                        </div>
                     <% } %>
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

<%- include('layouts/footer') %>

</body>

</html>