<%- include('layouts/adminheader') %>
<%- include('layouts/nav') %>

<div class="container">
    <div class="row">
        <h5 class="mb-2">List of products</h5>

        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < products.length; i++){ %>
                  <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td><%= products[i].dataValues.title %></td>
                    <td><%= products[i].dataValues.description.substring(0,30); %>...</td>
                    <td>NGN <%= products[i].dataValues.price %></td>
                    <td><%= products[i].dataValues.createdAt; %></td>
                    <td>
                        <form method="POST" action="/delete/product">
                            <input type="hidden" name="productId" value="<%= products[i].dataValues.id %>" />
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
        </div>
    </div>
</div>

<%- include('layouts/adminfooter') %>
</body>
</html>